<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Weather App</title>

    <script type="text/javascript">
        const baseAddress = 'http://localhost:8089';

        /*function getWeather() {
            var cityName = document.getElementById('cityName').value;

            const xmlHttpRequest = new XMLHttpRequest;
            xmlHttpRequest.open("GET", baseAddress + "/get/weather/" + cityName);
            //xmlHttpRequest.setRequestHeader('Authorization', 'user auth token');
            //xmlHttpRequest.send(cityName);

            xmlHttpRequest.send();
        }*/

        function redirectToWeather() {
            const cityName = document.getElementById('cityName').value;

            window.location.href = baseAddress + "/get/weather/" + cityName;
        }
    </script>
</head>

<body onload="disconnect()">

<div>
    <div id="requestDiv">
        <label for="cityName"></label><input type="text" id="cityName" placeholder="City Name..."/>
        <button id="getWeather" onclick="redirectToWeather();">Get Weather</button>
        <p id="responseWeather"></p>
    </div>
</div>

</body>

</html>